{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'vtopwallet/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <title>VTOP Wallet</title>
</head>
<body>
    <div class="min-h-screen">
        <nav class="bg-navy-blue px-2">
            <div class="container flex justify-between">
                <a href="#" class="flex items-center">
                    <img src="https://vtop.vit.ac.in/vtop/assets/img/VITLogoEmblem.png" class="h-12 p-1.5">
                    <span class="text-white self-center whitespace-nowrap ml-3 font-semibold">VIT (Vellore Campus)</span>
                </a>
            </div>
                <!-- <button class="bg-purple-900 text-blue-50 border border-blue-50 rounded m-1 px-4 text-xm ">Register</button> -->
        </nav>
        <div class="container my-12 mx-auto px-4 md:px-12">
            <div class="flex justify-center flex-wrap -mx-1 lg:-mx-4">
                <!-- <div class="mb-4 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/2">
                    <article class="overflow-hidden rounded-lg shadow-lg">
                        <header class="flex items-center justify-between leading-tight p-2 md:p-4 bg-blue-300">
                            <h1 class="text-lg text-white mx-auto">
                                <b>Wallet Details</b>
                            </h1>
                        </header>
                        <section class="flex flex-col gap-y-4 items-center justify-center leading-none p-4 md:p-4">
                            <p class="text-1xl">
                                <b></b>
                            </p>
                            <div class="text-xm flex gap-y-1 flex-col">
                                <p>24-02-23, Fri, 08:30</p>
                                <p>25-02-23, Sat, 13:30</p>
                                <p>27-02-23, Mon, 12:30</p>
                            </div>
                            <p class="text-1xl mt-3 border-2 border-navy-blue px-2 py-2 rounded-xl">
                                <b>Remaining Balance = ₹30</b>
                            </p>
                        </section>
                    </article>
                </div> -->
                <div class=" px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/2">
                    <article class="overflow-hidden rounded-lg shadow-lg">
                        <header class="flex items-center justify-between leading-tight p-2 md:p-4 bg-indigo-500">
                            <h1 class="text-lg text-white mx-auto">
                                <b>PPG Pay</b>
                            </h1>
                        </header>
                        <form name="form1" method="POST">
                            {% csrf_token %}
                            <div class="w-full mx-auto rounded-lg bg-white shadow-lg p-5 text-gray-700" style="max-width: 600px">
                                <div class="mb-3 flex -mx-2">
                                    <div class="px-2">
                                        <label for="type1" class="flex items-center cursor-pointer">
                                            <input type="radio" class="form-radio h-5 w-5 text-indigo-500" name="type" id="type1" checked>
                                            <img src="https://leadershipmemphis.org/wp-content/uploads/2020/08/780370.png" class="h-8 ml-3">
                                        </label>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="font-bold text-sm mb-2 ml-1">Card Holder</label>
                                    <div>
                                        {{form.card_holder}}
                                        <!-- <input class="w-full px-3 py-2 mb-1 border-2 border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors" placeholder="John Smith" type="text"/> -->
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label class="font-bold text-sm mb-2 ml-1">Card Number</label>
                                    <div>
                                        {{form.card_no}}
                                        <!-- <input class="w-full px-3 py-2 mb-1 border-2 border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors" placeholder="0000 0000 0000 0000" type="text" name="cardno"/> -->
                                    </div>
                                </div>
                                <div class="mb-3 -mx-2 flex items-end">
                                    <div class="px-2 w-1/2">
                                        <label class="font-bold text-sm mb-2 ml-1">Expiration date</label>
                                        <div>
                                            {{form.expiry_dm}}
                                            <!-- <select class="form-select w-full px-3 py-2 mb-1 border-2 border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors cursor-pointer">
                                                <option value="01">01 - January</option>
                                                <option value="02">02 - February</option>
                                                <option value="03">03 - March</option>
                                                <option value="04">04 - April</option>
                                                <option value="05">05 - May</option>
                                                <option value="06">06 - June</option>
                                                <option value="07">07 - July</option>
                                                <option value="08">08 - August</option>
                                                <option value="09">09 - September</option>
                                                <option value="10">10 - October</option>
                                                <option value="11">11 - November</option>
                                                <option value="12">12 - December</option>
                                            </select> -->
                                        </div>
                                    </div>
                                    <div class="px-2 w-1/2">
                                        {{form.expiry_y}}
                                        <!-- <select class="form-select w-full px-3 py-2 mb-1 border-2 border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors cursor-pointer">
                                            <option value="2020">2020</option>
                                            <option value="2021">2021</option> 
                                            <option value="2022">2022</option> 
                                            <option value="2023">2023</option> 
                                            <option value="2024">2024</option> 
                                            <option value="2025">2025</option>
                                            <option value="2026">2026</option> 
                                            <option value="2027">2027</option>
                                            <option value="2028">2028</option>
                                            <option value="2029">2029</option>
                                        </select> -->
                                    </div>
                                </div>
                                <div class="mb-3 -mx-2 flex items-end">
                                    <div class="px-2 w-1/2">
                                        <label class="font-bold text-sm mb-2 ml-1">Security code</label>
                                        <div>
                                            {{form.security}}
                                            <!-- <input class="w-32 px-3 py-2 mb-1 border-2 border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors required" id="field" type="number" max="999" pattern="([0-9]|[0-9]|[0-9])" name="cvv"/> -->
                                        </div>
                                    </div>
                                    <div class="px-2 w-1/2">
                                        <label class="font-bold text-sm mb-2 ml-1 text-navy-blue">Amount</label>
                                        <div>
                                            {{form.amount}}
                                            <!-- <input class="w-32 px-3 py-2 mb-1 border-2 border-gray-200 rounded-md focus:outline-none focus:border-indigo-500 transition-colors required" id="amount" type="number"/> -->
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="submit" class="block w-full max-w-xs mx-auto bg-indigo-500 hover:bg-navy-blue focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold" onclick="cardnumber(document.form1.cardno)"><i class="mdi mdi-lock-outline mr-1"></i> PAY NOW</button>
                                </div>
                                <div class="mt-3">
                                    <span>{{remaining_purse}}</span>
                                </div>
                            </div>
                        </form>
                    </article>
                </div>
            </div>
        </div>  
    </div>
</body>
</html>